tqdm~=4.41.1
parmap~=1.5.2
python-dateutil~=2.8.1
scikit-learn
numpy~=1.15.4
pandas~=0.25.3
nltk~=3.4.5
gensim~=3.8.0
scipy
spacy
matplotlib~=3.1.1
tensorflow~=1.13.1
tensorflow-gpu~=1.13.1
joblib~=0.14.1